# .NET Core
bin/
obj/

# Папки для кэширования пакетов NuGet
.nuget/
# Папки для кэширования инструментов и зависимостей
.vs/
.vscode/

# Конфигурации среды и личные файлы IDE
.idea/
*.user
*.userosscache
*.suo
*.sln.docstates

# Файлы логов и других временных данных
*.log
*.vspscc
*.vssscc

# Игнорируем конфиденциальные данные
appsettings.json

# Исключаем сборку для публикации и временные файлы
publish/